@import 'material-design-lite';
@import 'header';
@import 'characterani';
@import 'battle-screen';
@import 'enemies';

.shop-container {
  background: url("/img/shop.jpg") center center;
  background-size: cover;
  height: 100vh;
  border-radius: 10;

}
.shop-menu {
  width: 60%;
  background: url("/img/parchment.jpeg") center center;
  background-size: cover;
  margin: auto;
  padding: 0;
  align-items: center;
  margin-top: 0;
  border: solid #808080 1px;

}

.shop-menu li {
  display:flex;
  padding: 10px;
  flex: 1 0 calc(16.6666% - 20px);
  border-bottom: solid #808080 1px;
  justify-content: space-between;
  align-items: center;
}
.shop-menu_title{
  border-bottom: solid #808080 2px;
  font-size: 25px;
}

//index styles



.index-map {
  width: 100%;
  background-size: cover;
  background: url(/img/grass.jpg) center center;
  height: 100vh;
  position: relative;
}
.index-map__shop{
  position: absolute;
  top: 90px;
  left: 100px;
}
.index-map__shop-img {
  width: 100px;
  height: 100px;
}
.index-map__training{
  position: absolute;
  top: 350px;
  left: 100px;
}
.index-map__training-img {
  width: 100px;
  height: 100px;
}
.index-map__newb{
  position: absolute;
  top: 90px;
  right: 100px;
}
.index-map__newb-img {
  width: 100px;
  height: 100px;
  position: relative;
  right: -50px;
}
.index-map__getting-there{
  position: absolute;
  top: 350px;
  right: 80px;
}
.index-map__gettingthere-img {
  width: 100px;
  height: 100px;
  position: relative;
  right: -90px;

}
.index-map__bosstime {
  position: absolute;
  top: 150px;
  left: 500px;
}
.index-map__bosstime-img {
  width: 150px;
  height: 150px;
  position: relative;
  right: -28px;
}
.index-map__item:hover {
  transform: scale(1.5);
  h3 {
    color: red;
  }
}
.index-map h3 {
  font-family: fantasy;
}
.index-map__item {
  text-decoration: none;
  color: #2a0b00
}
