@import 'material-design-lite';
@import 'app/styles/header.scss';
@import 'app/styles/characterani.scss';

.shop-container {
  background: url("/img/shop.jpg") center center;
  background-size: cover;
  height: 100vh;
  border-radius: 10;

}
.shop-menu {
  width: 60%;
  background: url("/img/parchment.jpeg") center center;
  background-size: cover;
  margin: auto;
  padding: 0;
  align-items: center;
  margin-top: 0;
  border: solid #808080 1px;

}

.shop-menu li {
  display:flex;
  padding: 10px;
  flex: 1 0 calc(16.6666% - 20px);
  border-bottom: solid #808080 1px;
  justify-content: space-between;
  align-items: center;
}
.shop-menu_title{

  border-bottom: solid #808080 2px;
  font-size: 25px;
}

// Battle page styles
.battle-container{
  width: 100%;
  background-size: cover;
  background: url("/img/dark.jpg") no-repeat center center;
  height: 80vh;
}
.attack-but {
  background: #fa0000;
  border: solid black 3px;
  padding: 20px;
  font-weight: bolder;
  font-size: 30px;
  border-radius: 10px;
  font-family: fantasy;


}
.attack-but:hover {
  background: black;
  color: #fa0000;
  border: solid #fa0000 3px;
  border-radius: 0px;
  font-size: 45px;
}
.battle-inventory {
  display: flex;
}
.battle-inventory .inventory-item {
  border: solid #f57d0d 2px;
  background: #7a5604;
  padding: 10px;
  font-size: 15px;
  color: black;
}
.battle-inventory .inventory-item:hover {
  border: solid #7a5604 2px;
  background: black;
  padding: 10px;
  font-size: 30px;
  color: #7a5604;
}
.curr-weap {
  font-size: 25px;
  font-family: fantasy;
}
.battle-container__enemy {
  background: url("/img/battleone.png") no-repeat center center;
  width: 70%;
  float: left;
  height: 70vh;
  background-size: cover;
  border: solid black 4px;
}

.battle-container__hero {
  background: url("/img/battleone.png") no-repeat center center;
  width: 25%;
  float: right;
  height: 70vh;
  background-size: cover;
  border: solid black 4px;
}
.battle-container__footer {

  width: 80%;
  margin: auto;
  height: 10vh;
}
