$sprite-height-top: 64px;
$sprite-steps-top: 6;
$sprite-height-attack: 104px;
$sprite-steps-attack: 5;
$sprite-width-attack: 190px;

.player-hp {
  font-family: fantasy;
  color: white;
}
.player-hp {
  position: relative;
  right: -15%;
  top: 80px;
}
.character {
  content: "";
  width: $sprite-height-top;
  height: $sprite-height-top;
  background: url("/img/character.png");
  background-position-y: 0 -($sprite-height-top * 9);
  position: relative;
  right: -65%;
  top: 90px;


  animation: charactertop steps($sprite-steps-top) 1s infinite;
}

.character-ani--victory {
  background-position-y: 0 -($sprite-height-top * 5);
}


@keyframes charactertop {
  to {
        background-position-x: -0;
  }

  from {
        background-position-x: -($sprite-height-top * $sprite-steps-top);
  }
}

.character-ani--attack {
  content: "";
  width: $sprite-width-attack;
  height: $sprite-height-attack;

  background-position-y: calc(-#{$sprite-height-top} * 20 - #{$sprite-height-attack} * 3);
  animation: none;

  animation: attack-pulse steps($sprite-steps-attack) 1s infinite;
}

@keyframes attack-pulse {
  to {
    background-position-x: -0;
  }

  from {
    background-position-x: -($sprite-width-attack * $sprite-steps-attack);
  }
}
