.game {
  min-height: 100vh;
  display: flex;
  flex-direction: column;

  > * {
    flex: 1;
  }

  .header {
    flex: 0;
  }
}

.header {
  background: url("/img/birchwood.jpg") center center;
  width: 100%;
  display: flex;
  color: #23222a;
  font-size: 14px;
  margin-bottom: 0;
}
.header-stats {
  display: flex;
  flex: 1 0 calc(20% - 20px);
  margin: 40;
  padding-left: 25px;
  font-size: 35px;
}
