{{outlet}}

<div class="index-map">
  {{#link-to 'game.shop' class="index-map__shop index-map__item" }}
    <img class="index-map__shop-img" src="img/tavernthree.png" alt="" />
    <h3>Shop</h3>
  {{/link-to}}
  {{#link-to 'game.battle' 'training' class="index-map__training index-map__item" }}
    <img class="index-map__training-img" src="img/training.png" alt="" />
    <h3>Training</h3>
  {{/link-to}}
  {{#link-to 'game.battle' 'newb' class="index-map__newb index-map__item" }}
    <img class="index-map__newb-img" src="img/caveone.png" alt="" />
    <h3>Goblin Cave</h3>
  {{/link-to}}
  {{#link-to 'game.battle' 'gettingthere' class="index-map__getting-there index-map__item" }}
    <img class="index-map__gettingthere-img" src="img/fortress.png" alt="" />
    <h3>Undead Fortress</h3>
  {{/link-to}}
  {{#link-to 'game.battle' 'bosstime' class="index-map__bosstime index-map__item" }}
    <img class="index-map__bosstime-img" src="img/castletwo.png" alt="" />
    <h3>Dragon Castle</h3>
  {{/link-to}}

  <button class="reset-game" onclick={{route-action 'reset' model}}>
    RESET CHARACTER
  </button>
</div>
