$undead-size: 71px;
$undead-height: 72px;
$undead-steps: 8;

.enemy-sprite--undead {
  content: '';
  width: $undead-size;
  height: $undead-height;
  background: url("/img/Skeleton.png") no-repeat 0 -85px;


  animation: undead-pulse steps($undead-steps) 2s infinite;
}
.cur-weap--undead {
	color: white;
}

.battle-container__enemy--undead {
  background: url(/img/battletwo.png) no-repeat center center;
  background-size: cover;
}
.battle-container__hero--undead {
  background: url(/img/battletwo.png) no-repeat center center;
  background-size: cover;
}

@keyframes undead-pulse {
  to {
    background-position-x: -0;
  }

  from {
    background-position-x: -($undead-size * $undead-steps);
  }
}
