<div class="battle-container">
<div class="battle-container__enemy">
  </div>
<div class="battle-container__hero">
  <button class="attack-but">ATTACK</button>

  <div class="battle-inventory">
  {{#each currentUser.user.inventory as |item|}}
        <button class="inventory-item" onclick={{action "select" item}}>{{item.name}}</button>
  {{/each}}
  </div>

  <p class="curr-weap">Current Weapon: <img src="{{currentWeapon.img}}" alt=""></p>

  <div class="character"></div>
</div>
<div class="battle-container__footer">
</div>
</div>
