<div class="register-user__container">
  {{#simple-form onsubmit="registerUser" class="register-user__window" as |formValues|}}
    {{input type="character-name" value=formValues.name placeholder="Character Name"}}
    {{input value=formValues.email placeholder="Email"}}
    {{input type="password" value=formValues.password placeholder="Password"}}
    {{input type="password" value=formValues.password_confirmation placeholder="Password Confirmation"}}

    <button>Submit</button>
  {{/simple-form}}
</div>
