<div class="shop-container">
 <div class="items-menu">

  <ul class="shop-menu">
    <h2 class="shop-menu_title">THE SHOP</h2>
   <li>
    <img class="ironsword" src="img/iron.png" />
    <h4>Iron Sword</h4> <h6>15 Damage</h6> <h6>200 G</h6>
    {{mdl-button isRaised=true text='Purchase'}}
   </li>
   <li><img class="diamondsword" src="img/diamond.png" />
    <h4>Diamond Sword</h4> <h6>28 Damage</h6> <h6>700 G</h6>
    {{mdl-button isRaised=true text='Purchase'}}
   </li>
   <li><img class="firespell" src="img/fire-icon.png" />
    <h4>Fire Spell</h4> <h6>24 Damage</h6> <h6>450 G</h6>
    {{mdl-button isRaised=true text='Purchase'}}
   </li>
  </ul>

<div class="character"></div>
</div>
</div>
