<ul>
  <li>
    <img class="ironsword" src="img/iron.png" />
    <h3>Iron Sword</h3> <h4>15 Damage</h4> <h4>200 G</h4>
    {{mdl-button isRaised=true text='Purchase'}}
  </li>
  <li><img class="diamondsword" src="img/diamond.png" />
    <h3>Diamond Sword</h3> <h4>28 Damage</h4> <h4>700 G</h4>
    {{mdl-button isRaised=true text='Purchase'}}
  </li>
  <li><img class="firespell" src="img/fire-icon.png" />
    <h3>Fire Spell</h3> <h4>24 Damage</h4> <h4>450 G</h4>
    {{mdl-button isRaised=true text='Purchase'}}
  </li>
</ul>
